ion-menu-button {
  color: var(--ion-color-primary);
}

ion-toolbar {
  --background: rgba(var(--ion-color-primary-rgb), 0.5);
}

ion-content {
  --background: rgba(var(--ion-color-primary-rgb), 0.4);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.inputStyle {
  margin: 0 5px 0 5px;
}

.Sauce,
.Ing,
.scannerQR {
  padding: 2vh 4vw 2vh 4vw;
  margin: 0 15vw 2vh 15vw;
  background-color: white;
}


.title {
  font-size: 18px;
}

.btn {
  font-weight: bold;
  text-decoration: underline;
}


.containerItem {
  margin: 5px;
  text-align: center;
}

.buttonSend {
  font-weight: bold;
  text-decoration: underline;
}

.titlePage {
  font-size: xx-large;
  margin: 3vh 0 3vh 0;
}