<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" >
    <div *ngIf="isQrCode">
      <ngx-scanner-qrcode #action="scanner" (data)="output = $event"></ngx-scanner-qrcode>
      <span>{{output}}</span>
      <button (click)="action.toggleCamera()" [disabled]="action.isLoading">{{action.isStart ? 'Stop' : 'Start'}}</button>
    </div>
    <div *ngIf="isAccueil">
      <app-salade></app-salade>
    </div>
  </div>
</ion-content>
