<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Accueil</ion-title>
    </ion-toolbar>
  </ion-header>



  <div id="container">
    <h1>Les propriétés divines de la salade</h1>
    <img src="../../../assets/salade.jpeg" class="saladeImg" />
    <h2>Une grande richesse en fibre</h2>
    <div>
      indispensable pour assurer un bon transit, détoxifier l’organisme, bien nourrir le microbiote (et empêcher la
      prolifération des bactéries pathogènes), ralentir la charge glycémique et amener rapidement à satiété.
    </div>
    <h2>Une mine de vitamines et de minéraux</h2>
    <div>
      notamment de la vitamine B9 (acide folique), indispensable au renouvellement cellulaire, à la protection
      cardiovasculaire, aux troubles de l’humeur et de la mémoire; et de la vitamine C nécessaire aux défenses
      immunitaires.
      Côté minéraux, elle abrite surtout du calcium et du fer.
    </div>
    <h2>Un bel apport en antioxydants</h2>
    <div>
      notamment des caroténoïdes et plus précisément de la lutéine et de la zéaxanthine , essentielles à la santé
      oculaire.
      Mais aussi des composés phénoliques anti-cancers.
    </div>
  </div>
</ion-content>